<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Reply $reply
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Reply'), ['action' => 'edit', $reply->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Reply'), ['action' => 'delete', $reply->id], ['confirm' => __('Are you sure you want to delete # {0}?', $reply->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Replys'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Reply'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="replys view large-9 medium-8 columns content">
    <h3><?= h($reply->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Id') ?></th>
            <td><?= $this->Number->format($reply->id) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Source-id') ?></th>
            <td><?= $this->Number->format($reply->source-id) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Created') ?></th>
            <td><?= h($reply->created) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Modified') ?></th>
            <td><?= h($reply->modified) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Source-type') ?></th>
            <td><?= $reply->source-type ? __('Yes') : __('No'); ?></td>
        </tr>
    </table>
    <div class="row">
        <h4><?= __('Content') ?></h4>
        <?= $this->Text->autoParagraph(h($reply->content)); ?>
    </div>
</div>
