<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\KidokuTarget $kidokuTarget
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Kidoku Target'), ['action' => 'edit', $kidokuTarget->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Kidoku Target'), ['action' => 'delete', $kidokuTarget->id], ['confirm' => __('Are you sure you want to delete # {0}?', $kidokuTarget->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Kidoku Targets'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Kidoku Target'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="kidokuTargets view large-9 medium-8 columns content">
    <h3><?= h($kidokuTarget->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Id') ?></th>
            <td><?= $this->Number->format($kidokuTarget->id) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Target-user-id') ?></th>
            <td><?= $this->Number->format($kidokuTarget->target-user-id) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Created') ?></th>
            <td><?= h($kidokuTarget->created) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Modified') ?></th>
            <td><?= h($kidokuTarget->modified) ?></td>
        </tr>
    </table>
</div>
